@font-face {
    font-family: 'NotoSerifBold';
    src: url(../images/fonts/NotoSerif-Bold.ttf);
}

@font-face {
    font-family: 'PlayBold';
    src: url(../images/fonts/Play-Bold.ttf);
}

@font-face {
    font-family: 'PlayRegular';
    src: url(../images/fonts/Play-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}

.decor-line {
    position: absolute;
    top: 140px;
    left: 135px;
    width: 90%;
    height: 95%;
    background-image: url("../images/img/decor_line_with_start_drop.svg");
    background-repeat: no-repeat;
    z-index: -1;
}

:root {
    --h1_color: #EB5E39;
    --general_text_color: #FFFFFF;
    --dark_general_text_color: #474747;
    --dark_background_color: #474747;
    --light_background_color: #FFFFFF;
    --text_highlight_color: #2D6598;
    --text_error_color: #EB5E39;
}

/* --- Preloader --- */

.mask {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 400px;
    height: 150px;
    margin: 0 auto;
    display: block;
}

.hide {
    opacity: 0;
}

/* ---- HEADER ---- */

header {
    width: 100%;
    height: 90px;
    background-color:var(--dark_background_color);
    box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-areas: "logo-name nav-menu language";
    grid-template-columns: 20% 50% 9%;
    grid-template-rows: 90px;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}

.open-burger-menu,
.burger-menu-list,
.close-burger-menu {
    display: none;
}

.open-burger-menu img,
.close-burger-menu img {
    display: none;
}

/* -- Audio Block -- */

.audio-block {
    display: block;
    width: 50px;
    height: 300px;
    background-color:var(--dark_background_color);
    border-radius: 0 0 20px 0;
    position: absolute;
    top: 88px;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.audio-controls-on,
.audio-controls-off {
    display: none;
}

.audio-controls {
    display: grid;
    grid-template-areas: "play"
                         "pause"
                         "yes-no-volume"
                         "volume-to-high"
                         "volume-to-low";
    grid-template-columns: 90%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    row-gap: 7px;
}

.play {
    grid-area: play;
    height: 45px;
    width: 45px;
    text-align: center;
}

.play img {
    height: 35px;
    width: 35px; 
    display: block;
    margin: auto;
    margin-top: 2px;
}

.pause {
    grid-area: pause;
    height: 45px;
    width: 45px;
    text-align: center;
}

.pause img {
    height: 30px;
    width: 30px; 
    display: block;
    margin: auto;
    margin-top: 7px;
}

.yes-no-volume {
    grid-area: yes-no-volume;
    height: 45px;
    width: 45px;
    text-align: center;
}

.yes-no-volume img {
    height: 35px;
    width: 35px; 
    margin: auto;
    margin-top: 5px;
}

.yes-no-volume img.sound-off {
    display: block;
}

.yes-no-volume img.sound-on {
    display: none;
}

.volume-up {
    grid-area: volume-to-high;
    height: 45px;
    width: 45px;
    text-align: center;
}

.volume-up img {
    height: 35px;
    width: 37px; 
    display: block;
    margin: auto;
    margin-top: 5px;
}

.volume-down {
    grid-area: volume-to-low;
    height: 45px;
    width: 45px;
    text-align: center;
}

.volume-down img {
    height: 35px;
    width: 37px; 
    display: block;
    margin: auto;
    margin-top: 5px;
}

.play:hover,
.pause:hover,
.yes-no-volume:hover,
.volume-up:hover,
.volume-down:hover {
    cursor: pointer;
    background-color: rgba(209, 171, 161, 0.363);
    border-radius: 7px;
}

.pause:hover img {
    width: 58%;
}

.play:hover img,
.yes-no-volume:hover img,
.volume-up:hover img,
.volume-down:hover img {
    width: 70%;
}

/* -- Logo + Name --*/

.logo {
    grid-area: logo-name;
    display: grid;
    grid-template-areas: "logo name";
        /*grid-template-columns: 60px 210px;*/
    grid-template-columns: 25% 75%;
    grid-template-rows: 90px;
}

.symbol {
    grid-area: logo;
    align-self: center;
}

p.name {
    grid-area: name;
    font-family: 'PlayBold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--general_text_color);
}

/* -- Navigation menu -- */

ul.nav-menu {
    grid-area: nav-menu;
    padding-left: 90px;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-areas: "about where-to-travel cities buy";
    grid-template-columns: 10% 23% 27% 12%;
    grid-template-rows: 90px;
    align-items: center;
    justify-content: space-evenly;
}

li.about {
    grid-area: about;
}

li.where-to-travel {
    grid-area: where-to-travel;
}

li.cities {
    grid-area: cities;
}

li.buy {
    grid-area: buy;
}

.nav-menu li {
    text-align: center;
}

.nav-menu a {
    text-decoration: none;
    font-family: 'PlayRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: var(--general_text_color);
}

.nav-menu a:hover {
    border-bottom: 2px solid #EB5E39;
}

/* -- Switch language -- */

.switch-language {
    grid-area: language;
    align-self: center;
    justify-self: center;
}

/* ---- SLIDER ---- */

section.slider {
    width: 73%;
    height: 630px;
    margin: 50px 135px 110px 235px;
    display: grid;
    grid-template-areas: "left-block right-block";
    grid-template-columns: 59% 40%;
    grid-template-rows: 630px;
    column-gap: 10px;
}

.slider-left-block {
    grid-area: left-block;
    align-items: center;
    display: grid;
    grid-template-areas: "h1-text"
                        "details-text"
                        "button-download"
                        "slider-bullets";
    grid-template-columns: 100%;
    grid-template-rows: 45% 27% 20% 8%;
    column-gap: 0;
}

h1 {
    grid-area: h1-text;
    margin: 0;
    margin-left: 100px;
    margin-top: 55px;
    width: 75%;
    font-family: 'NotoSerifBold';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 70px;
    color: var(--h1_color);
    text-align: left;
}

p.details {
    grid-area: details-text;
    margin: 0;
    margin-left: 100px;
    width: 70%;
    font-family: 'PlayRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: var(--dark_general_text_color);
    text-align: left;
}

#download {
    grid-area: button-download;
    width: 250px;
    display: block;
    justify-self: center;
}

#download button {
    width: 250px;
}

/*Буллеты*/
.bullets {
    grid-area: slider-bullets;
}

.slider-controls {
    display: grid;
    grid-template-areas: "bullet1 bullet2 bullet3 bullet4";
    grid-template-columns: 20px 20px 20px 20px;
    grid-template-rows: 100%;
    column-gap: 16px;
    justify-content: right;
}

#bullet1 {
    grid-area: bullet1;
}

#bullet2 {
    grid-area: bullet2;
}

#bullet3 {
    grid-area: bullet3;
}

#bullet4 {
    grid-area: bullet4;
}

.slider-controls div {
    height: 20px;
    width: 20px;
    border-radius: 6px;
    background-color: #474747;
    display: block; 
}

.slider-controls div:hover{
    cursor: pointer;
}

.slider-controls div.active {
    background-color: #EB5E39;
}

/*Слайдер (правый блок)*/
.slider-right-block {
    grid-area: right-block;
    background-image: url("../images/img/app0_phone_mockup.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: grid;
    grid-template-areas: "arrow-left app-mockup arrow-right";
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 100%;
    row-gap: 10px;
}

/*стрелки слайдера*/
.arrow-slider {
    border: none;
    width: 30px;
    height: 60px;
    margin: 10px;
    padding: 0;
    align-self: center;
    justify-self: center;
    z-index: 20;
    background: white;
}

.arrow-slider {
    cursor: pointer;
}

.slider-to-right {
    grid-area: arrow-right;
    background-image: url("../images/icons/arrow_right.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.slider-to-left {
    grid-area: arrow-left;
    background-image: url("../images/icons/arrow_left.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.app-mockup {
    grid-area: app-mockup;
}

/*общий класс для всех экранов*/
.screen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; 
    width: 100%;
    height: 100%;
}

/* -- General styles for sections --*/

.drop-decor-left {
    width: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto;
}

.drop-travel {
    position: absolute;
    left: 18%;
}

.drop-cities {
    position: absolute;
    left: 22%;
}

.drop-decor-left::before {
    content: "";
    display: inline-block;
    width: 6em;
    height: 6em;
    background-image: url("../images/img/drop.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.drop-decor-right {
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto;
}

.drop-decor-right::after {
    content: "";
    display: inline-block;
    width: 6em;
    height: 6em;
    background-image: url("../images/img/drop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 25px;
}

.drop-where-to-travel {
    width: 61%;
    position: absolute;
    left: 26%;
}

.drop-start {
    width: 64%;
    position: absolute;
    left: 15%;
}

.titles-frame {
    width: 41vw;
    height: 100%;
    background: var(--light_background_color);
    display: flex;
}

.titles-frame::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 5em;
    border-top: 4px solid var(--dark_general_text_color);
    border-left: 4px solid var(--dark_general_text_color);
    border-bottom: 4px solid var(--dark_general_text_color);
}

.titles-frame::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 5em;
    border-top: 4px solid var(--dark_general_text_color);
    border-right: 4px solid var(--dark_general_text_color);
    border-bottom: 4px solid var(--dark_general_text_color);
}

.titles-frame-large {
    width: 41vw;
    height: 100%;
    background: var(--light_background_color);
    display: flex;
}

.titles-frame-large::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 8em;
    border-top: 4px solid var(--dark_general_text_color);
    border-left: 4px solid var(--dark_general_text_color);
    border-bottom: 4px solid var(--dark_general_text_color);
}

.titles-frame-large::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 8em;
    border-top: 4px solid var(--dark_general_text_color);
    border-right: 4px solid var(--dark_general_text_color);
    border-bottom: 4px solid var(--dark_general_text_color);
}

h2 {
    font-family: 'NotoSerifBold';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: var(--dark_general_text_color);
    margin: auto;
}

h2.format {
    width: 75%;
}

h3 {
    font-family: 'NotoSerifBold';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    color: #EB5E39;
}

.button {
    width: 170px;
    height: 50px;
    background: #DDDDDD;
    font-family: 'PlayRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    border-radius: 23px;  
    cursor: pointer;

    /*градиент на границу без скруглений*/
    /*border: 5px solid transparent;
    border-image: linear-gradient(0deg, rgba(81, 81, 81, 0.351) 0%, rgba(62, 62, 62, 0.0156) 100%);
    border-image-slice: 1;*/

   /*градиент на границу со скруглениями*/
    border: double 4px transparent;
    background-image: linear-gradient(#DDDDDD,#DDDDDD), linear-gradient(0deg, rgba(81, 81, 81, 0.351) 0%, rgba(62, 62, 62, 0.0156) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.button a {
    text-decoration: none; 
}

.button:hover {
    background: linear-gradient(180deg, rgba(62, 62, 62, 0.39) 0%, rgba(61, 60, 60, 0.85) 100%);
    border-radius: 23px;
    color: #FFFFFF;
    border: 4px transparent;
}

p.text-for-block {
    font-family: 'PlayRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
}

p.general-text {
    font-family: 'PlayRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;    
}

/* ---- About us (with cards) ---- */

section.about-us {
    width: 1170px;
    height: 660px;
    scroll-margin-top: 90px;
    margin: 0 auto;
    margin-bottom: 110px;
    display: grid;
    grid-template-areas: "title-about-us"
                         "cards";
    grid-template-columns: 1170px;
    grid-template-rows: 140px 460px;
    row-gap: 60px;
    position: relative;
}

.title-about-us {
    grid-area: title-about-us;  
}

.cards {
    grid-area: cards;
    display: grid;
    grid-template-areas: "plan map excursions infrastructure";
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: 460px;
    column-gap: 30px;
}

.block {
    background: #FFFFFF;
    border: 1px solid #BEBEBE;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
}

/* -- Plan card -- */

.plan {
    grid-area: plan;
}

.icon-plan {
    text-align: center;
    margin-top: 30px;
}

.plan h3 {
    margin-top: 23px;
    margin-bottom: 32px;
}

ul.plan-advantage-list {
    list-style: none;
    padding-left: 63px;
}

.plan-advantage-list li {
    margin-bottom: 20px;
    font-family: 'PlayRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--dark_general_text_color);
    list-style-image: url("../images/icons/checkmark.svg"); 
    padding-inline-start: 10px;          /*отступ от маркера*/
}

/* -- 3d map card -- */

.map-card {
    grid-area: map;
}

.icon-map {
    text-align: center;
    margin-top: 30px;
}

.map-card h3 {
    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 10px;
    margin-right: 10px;
}

ul.map-advantage-list {
    list-style: none;
    padding-left: 63px;
}

.map-advantage-list li {
    margin-bottom: 20px;
    font-family: 'PlayRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color:var(--dark_general_text_color);
    list-style-image: url("../images/icons/checkmark.svg"); 
    padding-inline-start: 10px;   
}

/* -- Excursions card -- */

.excursions {
    grid-area: excursions;
}

.icon-excursions {
    text-align: center;
    margin-top: 30px;
}

.excursions h3 {
    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 15px;
    margin-right: 15px;
}

ul.excursions-advantage-list {
    list-style: none;
}

.excursions-advantage-list li {
    margin-bottom: 20px;
    margin-right: 15px;
    font-family: 'PlayRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: var(--dark_general_text_color);
    list-style-image: url(../images/icons/checkmark.svg);
    padding-inline-start: 10px;
}

/* -- Infrastructure card -- */

.infrastructure {
    grid-area: infrastructure;
}

.icon-infrastructure {
    text-align: center;
    margin-top: 30px;
}

.infrastructure h3 {
    margin-top: 23px;
    margin-bottom: 23px;
}

ul.infrastructure-advantage-list {
    list-style: none;
    padding-left: 63px;
}

.infrastructure-advantage-list li {
    margin-bottom: 20px;
    font-family: 'PlayRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: var(--dark_general_text_color);
    list-style-image: url("../images/icons/checkmark.svg");
    padding-inline-start: 10px;
}

/* ---- Section Where to travel ---- */

section.where-to-travel {
    width: 1170px;
    height: 740px;
    scroll-margin-top: 90px;
    margin: 0 auto;
    margin-bottom: 110px;
    display: grid;
    grid-template-areas: "title-where-to-travel"
                        "questions";
    grid-template-columns: 1170px;
    grid-template-rows: 90px 590px;
    row-gap: 60px;
    position: relative;
}

.title-where-to-travel {
    grid-area: title-where-to-travel;  
}

.questions {
    grid-area: questions;  
    background: #FFFFFF;
    border: 1px solid #BEBEBE;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    display: grid;
    grid-template-areas: "collage text-button";
    grid-template-columns: 770px 370px;
    grid-template-rows: 590px;
    column-gap: 30px;
}

.collage {
    grid-area: collage;
    align-self: center;
    justify-self: right;
}

.text-button {
    grid-area: text-button;
}


p.text-for-questions {
    margin-top: 137px;
    margin-right: 57px;
    margin-left: 45px;
    margin-bottom: 67px;
}

.button-for-questions {
    display: block;
    margin: 0 auto;
}

/* ---- Section Cities of Belarus ---- */

section.cities {
    width: 1170px;
    height: 620px;
    scroll-margin-top: 90px;
    margin: 0 auto;
    margin-bottom: 110px;
    display: grid;
    grid-template-areas: "title-cities"
                        "novogrudok";
    grid-template-columns: 1170px;
    grid-template-rows: 90px 470px;
    row-gap: 60px;
}

.title-cities {
    grid-area: title-cities;
}

.novogrudok-city {
    grid-area: novogrudok;
    display: grid;
    grid-template-areas: "city-map city-info city-photos";
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 470px;
    column-gap: 30px;
}

.city-map {
    grid-area: city-map;
}

.city-info {
    grid-area: city-info;
}

.city-photos {
    grid-area: city-photos;
}

.city-photos img:nth-of-type(1) {
    margin-bottom: 40px;
}

.city-info p {
    padding-left:  12px;
}

.city-info h3 {
    padding-left: 12px;
    margin: 11px auto;
    text-align: left;
}

/* ---- Section Lets start ---- */

section.lets-start {
    width: 1030px;
    height: 590px;
    scroll-margin-top: 90px;
    margin-left: 235px;
    margin-bottom: 50px;
    display: grid;
    grid-template-areas: "title-lets-start"
                        "advertisement-download";
    grid-template-columns: 1030px;
    grid-template-rows: 90px 440px;
    row-gap: 60px;
}

.title-lets-start {
    grid-area: title-lets-start;
    margin-left: 200px;
}

.advertisement-download {
    grid-area: advertisement-download;
    display: grid;
    grid-template-areas: "map-buttons banner";
    grid-template-columns: 540px 470px;
    grid-template-rows: 440px;
    column-gap: 20px;
}

.banner {
    grid-area: banner;
}

img[src="./images/media/banner.gif"] {
    display: block !important;
}

.banner img {
    width: 470px;
    height: 440px;
}

.map-buttons {
    grid-area: map-buttons;
    display: grid;
    grid-template-areas: "list-to-download"
                        "products"
                        "buttons";
    grid-template-columns: 570px;
    grid-template-rows: 70px 250px 60px;
    row-gap: 30px;
}

p.list-to-download {
    grid-area: list-to-download;
    margin: 10px auto 0;
}

.products {
    grid-area: products;
    display: grid;
    grid-template-areas: "map-navigation novogrudok-app";
    grid-template-columns: 270px 270px;
    grid-template-rows: 250px;
    column-gap: 30px;
}

.map-navigation {
    grid-area: map-navigation;
}

.novogrudok-app {
    grid-area: novogrudok-app;
    display: grid;
    grid-template-areas: "app-symbol app-name";
    grid-template-columns: 70px 1fr;
    grid-template-rows: 250px;
}

img.app-symbol {
    grid-area: app-symbol;
    justify-self: center;
}

p.app-name {
    grid-area: app-name;
    margin-top: 10px;
    margin-left: 10px;
}

.buttons {
    grid-area: buttons;
    display: grid;
    grid-template-areas: "ask try buy";
    grid-template-columns: 170px 170px 170px;
    grid-template-rows: 60px;
    column-gap: 15px;
    align-items: end;
}

/* ---- FOOTER ---- */

footer {
    width: 100%;
    height: 70px;
    background: var(--dark_background_color);
    display: grid;
    grid-template-areas: "rights social-media";
    grid-template-columns: 45% 35%;
    grid-template-rows: 1fr;
    column-gap: 30px;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

p.rights {
    grid-area: rights;
    color: var(--general_text_color);
    justify-self: left;
}

.social-media {
    grid-area: social-media;
    display: grid;
    grid-template-areas: "twitter telegram instagram vk facebook";
    grid-template-columns: 41px 41px 41px 41px 41px;
    grid-template-rows: 1fr;
    column-gap: 30px;
    justify-items: center;
    align-items: center;
    justify-self: right;
}

.social-media a {
    display: inline-block;
    margin: 5px;
}

.social-media a:hover img {
    transform: scale(1.2);
}


img.twitter {
    grid-area: twitter;
}

img.telegram {
    grid-area: telegram;
}

img.instagram {
    grid-area: instagram;
}

img.vk {
    grid-area: vk;
}

img.facebook {
    grid-area: facebook;
}

/* --------------- MEDIA QUERIES ----------------- */

@media screen and (min-width: 1400px) {
    
    .open-burger-menu {
        display: none;
    }

    section.lets-start {
        margin-left: 20%;
    }
}

@media screen and (min-width: 1610px) {
    
    .open-burger-menu,
    .close-burger-menu {
        display: none;
    }

    section.lets-start {
        margin-left: 23%;
    }
}

@media screen and (max-width: 1306px) {

    .open-burger-menu,
    .close-burger-menu {
        display: none;
    }

    .decor-line {
        left: 66px;
        width: 93%;
    }

    .audio-block {
        display: none;
    }

    .audio-controls-on {
        display: block;
        position: absolute;
        top: 26px;
        left: 20px;
        width: 35px; 
        height: 34px;
    }

    .audio-controls-off {
        display: none;
        position: absolute;
        top: 26px;
        left: 20px;
        width: 35px; 
        height: 34px;
    }

    .audio-controls-on img,
    .audio-controls-off img {
        width: 35px; 
        height: 34px;
        display: block;
    }
    
    .audio-controls-on:hover {
        cursor: pointer;
    }

    p.name {
        font-size: 20px;
    }

    ul.nav-menu {
        padding-left: 60px;
    }

    h1 {
        font-size: 52px;
        line-height: 60px;
        margin-left: 70px;
        margin-top: 30px;
        width: 80%;
    }

    p.details {
        margin-left: 70px;
    }

    .titles-frame-large {
        width: 48vw;
    }

    .titles-frame {
        width: 47vw;
    }

    section.about-us {
        width: 90%;
        grid-template-columns: 100%;
    }

    .cards {
        grid-template-columns: 260px 260px 260px 260px;
        column-gap: 4%;
    }

    section.where-to-travel {
        width: 90%;
        grid-template-columns: 100%;
    }

    .questions {
        grid-template-columns: 65% 35%;
        grid-template-rows: 100%;
        column-gap: 12px;
    }

    section.cities {
        width: 90%;
        grid-template-columns: 100%;
    }

    .novogrudok-city {
        grid-template-columns: 393px 394px 382px;
        column-gap: 10px;
    }

    .city-map, 
    .city-photos  {
        text-align: center;
        align-self: center;
    }

    .city-map img, 
    .city-photos img {
        width: 90%;
    }

    section.lets-start {
        margin-left: 12%;
        width: 82%;
        grid-template-columns: 100%;
    }

    .banner  {
        width: 90%;
        height: 90%;
        justify-self: center;
        align-self: center;
    }

    .advertisement-download {
        column-gap: 33px;
        grid-template-columns: 565px 470px;
    }

    .map-buttons {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 1250px) {

    .decor-line {
        display: none;
    }

    .drop-decor-left::before,
    .drop-decor-right::after {
        display: none;
    }

    .title-about-us,        /* центрирование заголовков*/
    .title-where-to-travel,
    .title-cities,
    .title-lets-start { 
        margin: auto;
    }

    .drop-where-to-travel,
    .drop-travel,
    .drop-cities,
    .drop-start {
        position: static;
    }

    .open-burger-menu,
    .close-burger-menu {
        display: none;
    }

    p.details {
        margin-left: 55px;
    }

    h1 {
        margin-left: 55px;
    }

    section.slider {
        margin: 50px auto 110px;
    }

    /* ---- CARDS (Section "About us") ---- */

    .cards {
        grid-template-areas: "plan map"
                            "excursions infrastructure";
        grid-template-columns: 49% 49%;
        grid-template-rows: 49% 49%;
        column-gap: 20px;
        row-gap: 20px;
        justify-items: center;
    }

    .plan {
        display: grid;
        grid-template-areas: "icon-plan name-plan"
                            "icon-plan list-plan";
        grid-template-columns: 45% 53%;
        grid-template-rows: 30% 68%;
        column-gap: 10px;
        row-gap: 10px;
        width: 90%;
    }

    .icon-plan {
        grid-area: icon-plan;
    }

    .plan h3 {
        grid-area: name-plan;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .plan-advantage-list {
        grid-area: list-plan;
        margin-top: 10px;
    }

    .map-card {
        display: grid;
        grid-template-areas: "icon-map name-map"
                            "icon-map list-map";
        grid-template-columns: 45% 53%;
        grid-template-rows: 57% 42%;
        column-gap: 10px;
        width: 90%;
    }

    .icon-map {
        grid-area: icon-map;
    }

    .map-card h3 {
        grid-area: name-map;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .map-advantage-list {
        grid-area: list-map;
        margin-top: 10px;
    }

    .excursions {
        display: grid;
        grid-template-areas: "icon-excursions name-excursions"
                            "icon-excursions list-excursions";
        grid-template-columns: 45% 53%;
        grid-template-rows: 57% 42%;
        column-gap: 10px;
        width: 90%;
    }

    .icon-excursions {
        grid-area: icon-excursions;
    }

    .excursions h3 {
        grid-area: name-excursions;
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: 7px;
        margin-right: 7px;
    }

    .excursions-advantage-list {
        grid-area: list-excursions;
        margin-top: 10px;
        margin-right: 7px;
    }

    .infrastructure {
        display: grid;
        grid-template-areas: "icon-infrastructure name-infrastructure"
                            "icon-infrastructure list-infrastructure";
        grid-template-columns: 45% 53%;
        grid-template-rows: 57% 42%;
        column-gap: 10px;
        width: 90%;
    }

    .icon-infrastructure {
        grid-area: icon-infrastructure;
    }

    .infrastructure h3 {
        grid-area: name-infrastructure;
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: 7px;
        margin-right: 7px;
    }

    .infrastructure-advantage-list {
        grid-area: list-infrastructure;
        margin-top: 10px;
        margin-right: 7px;
    }

    /* ---- Section "Where to travel" ---- */

    section.where-to-travel {
        width: 85%;
        height: 622px;
        grid-template-rows: 90px 472px;
    }

    .questions {
        grid-template-columns: 49% 49%;
    }

    .collage img {
        width: 80%;
    }

    .collage {
        text-align: center;
    }

    /* ---- Section "Cities of Belarus" ---- */

    section.cities {
        width: 85%;
    }

    .novogrudok-city {
        grid-template-areas: "city-map city-info"
                            "city-map city-photos";
        grid-template-columns: 49% 49%;
        grid-template-rows: 43% 55%;
        column-gap: 20px;
        row-gap: 20px;
        background-color: #FFFFFF;
    }

    .city-info h3 {
        margin: 11px 15px;
    }

    .city-map {
        grid-area: city-map;
    }

    .city-map img, 
    .city-photos img {
        width: 65%;
    }

    .city-info p:nth-of-type(1) {
        grid-area: city-info;
        margin: 5px 15px 5px;
    }

    .city-info p:nth-of-type(2) {
        display: none;
    }

    .city-photos img:nth-of-type(1) {
        grid-area: city-photos;
        margin-bottom: 0;
    }

    .city-photos img:nth-of-type(2) {
        display: none;
    }

    /* ---- Section "Let's start" ---- */

    section.lets-start {
        margin: 0 auto 50px;
    }

    .banner {
        display: none;
    }

    .advertisement-download {
        grid-template-columns: 100%;
        grid-template-rows: 100%;
    }

    .map-buttons {
        align-items: center;
        justify-items: center;
    }

    .map-buttons {
        grid-template-areas:
            "list-to-download buttons"
            "products buttons";
        grid-template-columns: 65% 35%;
        grid-template-rows: 20% 78%;
        row-gap: 0;
    }

    .products {
        grid-template-columns: 55% 43%;
        grid-template-rows: 100%;
        column-gap: 30px;
    }

    .buttons {
        grid-template-areas: "ask"
                            "try"
                            "buy";
        grid-template-columns: 100%;
        grid-template-rows: 30% 30% 30%;
        column-gap: 0;
        row-gap: 20px;
        align-items: center;
    }
}

@media screen and (max-width: 1140px) {

    .open-burger-menu,
    .close-burger-menu {
        display: none;
    }

    section.slider {
        width: 90%;
        margin: 50px auto 110px;
    }
    
    .icon-plan img,
    .icon-map img,
    .icon-excursions img,
    .icon-infrastructure img {
        width: 80%;
    }

    .plan h3,
    .map-card h3,
    .excursions h3,
    .infrastructure h3 {
        font-size: 1.5em;
    }

    .plan-advantage-list li,
    .map-advantage-list li,
    .excursions-advantage-list li,
    .infrastructure-advantage-list li {
        font-size: 1em;
    }
}

@media screen and (max-width: 690px) {

    header {
        grid-template-areas: "logo-name language burger-menu";
        grid-template-columns: 40% 27% 17%;
        justify-content: end;
    }
    .logo {
        grid-template-columns: 29% 71%;
    }

    .symbol {
        align-self: center;
        justify-self: center;
    }

    p.name {
        margin: auto;
        padding-left: 0;
    }

    ul.nav-menu {           /*Основное меню*/
        display: none;
    }

    .open-burger-menu img, .close-burger-menu img {
        display: block;
    }

    .close-burger-menu {    /*Крестик для закрытия бургер-меню*/
        display: none;
        grid-area: burger-menu;
        align-self: center;
        justify-self: center;
    }

    .open-burger-menu {          /*Иконка бургер-меню*/
        grid-area: burger-menu;
        display: block;
        align-self: center;
        justify-self: center;
    }

    .burger-menu-block {
        display: none;         /*Скрыть блок бургер меню*/
        /*display: block;*/    /*Показать блок бургер меню*/
    }

    ul.burger-menu-list {
        display: grid;
        width: 180px;
        height: 250px;
        background-color:var(--dark_background_color);
        border-radius: 0 0 0 20px;
        list-style: none;
        position: absolute;
        top: 88px;
        right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 30px;
        grid-template-areas: "burger-list-about"
                            "burger-list-where-to-travel"
                            "burger-list-cities"
                            "burger-list-buy";
        grid-template-columns: 100%;
        grid-template-rows: 20% 20% 20% 20%;
        align-items: center;
        align-content: center;
    }

    li.burger-list-about {
        grid-area: burger-list-about;
    }
    
    li.burger-list-where-to-travel {
        grid-area: burger-list-where-to-travel;
    }
    
    li.burger-list-cities {
        grid-area: burger-list-cities;
    }
    
    li.burger-list-buy {
        grid-area: burger-list-buy;
    }

    .switch-language {
        justify-self: right;
        margin-right: 35px;
    }

    /*.switch-language img {
        filter: opacity(0.2);
    }*/
    
    .burger-menu-list a {
        text-decoration: none;
        font-family: 'PlayRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        color: var(--general_text_color);
    }
    
    .burger-menu-list a:hover {
        border-bottom: 2px solid #EB5E39;
    }

    /* --- SLIDER --- */

    section.slider {
        width: 90%;
        margin: 50px 20px 110px 20px;
        height: 531px;
        grid-template-rows: 100%;
    }

    h1 {
        font-size: 35px;
        line-height: 40px;
        margin-left: 25px;
    }

    p.details {
        font-size: 26px;
        line-height: 35px;
        margin-left: 25px;
    }

    .slider-left-block {
        grid-template-rows: 40% 29% 20% 10%;
    }
    
    .slider-right-block {
        grid-template-areas: "app-mockup app-mockup"
                             "arrow-left arrow-right";
        grid-template-columns: 50% 50%;
        grid-template-rows: 89% 10%;
        row-gap: 10px;
        background-position: center top;
        background-size: contain;
    }

    .arrow-slider {
        height: 70%; 
    }

    .slider-controls {
        margin-right: 20px;
        margin-top: 20px;
    }

    .screen {
        background-size: contain;
        top: -30px;
    }

    .advertisement-download {
        column-gap: 0;
    }

    /* -- Texts --- */

    h2 {
        font-size: 26px;
        line-height: 35px;
    }

    p.text-for-block {
        font-size: 24px;
        line-height: 35px;
    }

    p.general-text {
        font-size: 16px;
        line-height: 20px;
    }

    .social-media {
        column-gap: 11px;
    }

    section.lets-start,
    section.cities,
    section.where-to-travel,
    section.about-us {
        row-gap: 45px;
    }

    section.cities {
        height: 502px;
        grid-template-rows: 90px 367px;
    }

    .city-map img, 
    .city-photos img {
        width: 80%;
    }

    section.where-to-travel {
        height: 518px;
        grid-template-rows: 90px 384px;
    }

    p.text-for-questions {
        margin-top: 47px;
        margin-bottom: 29px;
    }

    .cards {
        grid-template-areas:
            "plan"
            "map"
            "excursions"
            "infrastructure";
        grid-template-columns: 100%;
        grid-template-rows: 24% 24% 24% 24%;
        column-gap: 0;
        row-gap: 20px;
        justify-items: center;
        align-items: center;
    }

    section.about-us {
        height: 1225px;
        grid-template-rows: 140px 1032px;
    }

    .icon-plan,
    .icon-map,
    .icon-excursions,
    .icon-infrastructure {
        margin-top: 0;
        align-self: center;
    }

    .icon-plan img, 
    .icon-map img, 
    .icon-excursions img, 
    .icon-infrastructure img {
        width: 70%;
    }
    
    .excursions {
        height: 100%;
    }

    .infrastructure {
        height: 100%;
    }

    .map-card {
        height: 100%;
    }

    .map-card h3,
    .excursions h3 {
        margin-left: 20px;
        margin-right: 20px;
    }

    .plan-advantage-list li,
    .map-advantage-list li,
    .excursions-advantage-list li,
    .infrastructure-advantage-list li {
        font-size: 1.2em;
    }

    section.lets-start {
        height: 578px;
    }

    .products {
        grid-template-areas: "novogrudok-app"
                             "map-navigation";
        grid-template-columns: 100%;
        grid-template-rows: 19% 80%;
        column-gap: 0;
        row-gap: 10px;
    }

    .novogrudok-app {
        grid-template-columns: 20% 50%;
        grid-template-rows: 100%;
        justify-content: center;
    }

    .buttons {
        grid-template-rows: 1fr 1fr 1fr;
        align-self: center;
    }
}

@media screen and (max-width: 500px) {
    
    /* -- Header, General settings --*/

    header {
        grid-template-columns: 35% 30% 15%;
    }

    p.name {
        text-align: center;
        line-height: 30px;
    }    

    .titles-frame {
        width: 90vw;
    }

    .titles-frame-large {
        width: 90vw;
    }

    .drop-decor-left,
    .drop-where-to-travel,
     .drop-start {
        width: 100%;
    }

    /* -- Section Slider --*/

    section.slider {
        width: 90%;
        height: 970px;
        grid-template-areas: "left-block "
                             "right-block";
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
        row-gap: 0;
        margin: 50px auto 110px;
    }

    .slider-right-block {
        grid-template-areas: "arrow-left app-mockup arrow-right";
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 100%;
        row-gap: 0;
        background-position: center center;
    }

    .slider-left-block {
        grid-template-rows: 30% 32% 20% 13%;
    }

    .slider-controls {
        justify-content: center;
        margin-right: 0;
    }

    .arrow-slider {
        width: 30px;
        height: 60px;
    }

    h1 {
        line-height: 40px;
        margin-left: 0;
        margin-top: 10px;
        margin: auto;
        width: 80%;
    }

    p.details {
        font-size: 24px;
        line-height: 30px;
        margin-left: 0;
        margin: auto;
        width: 80%;
    }

    .screen {
        top: 0;
    }

    /* -- Section About us --*/

    section.about-us {
        width: 85%;
        height: 1238px;
    }

    .plan,
    .map-card,
    .excursions,
    .infrastructure {
        width: 100%;
        height: 100%;
    }

    .plan-advantage-list li, 
    .map-advantage-list li, 
    .excursions-advantage-list li, 
    .infrastructure-advantage-list li {
        font-size: 18px;
        margin-bottom: 18px;
    }

    .icon-plan img, 
    .icon-map img, 
    .icon-excursions img, 
    .icon-infrastructure img {
        width: 80%;
    }

    .plan {
        grid-template-columns: 40% 58%;
    }

    .map-card {
        grid-template-columns: 40% 58%;
    }

    .excursions {
        grid-template-columns: 40% 58%;
    }

    .infrastructure {
        grid-template-columns: 40% 58%;
    }

    /* -- Section Where to travel --*/

    section.where-to-travel {
        height: 632px;
        grid-template-rows: 90px 494px;
    }

    .questions {
        grid-template-columns: 100%;
        grid-template-rows: 56% 44%;
        grid-template-areas: "collage"
                             "text-button";
    }

    .collage img {
        width: 70%;
    }

    p.text-for-questions {
        margin-top: 2%;
        margin-bottom: 4%;
    }

    /* -- Section Cities --*/

    section.cities {
        height: 511px;
        grid-template-rows: 90px 375px;
    }

    .novogrudok-city {
        grid-template-columns: 45% 54%;
        grid-template-rows: 66% 33%;
        row-gap: 10px;
        column-gap: 10px;
    }

    .city-map img {
        width: 90%;
    }

    .city-photos img {
        width: 70%;
    }

    /* -- Section Let's start --*/

    section.lets-start {
        margin-left: 0;
        margin-right: 0;
        margin: 0 auto 50px;
        width: 85%;
        height: 536px;
        grid-template-rows: 90px 400px;
    }

    .map-buttons {
        grid-template-columns: 58% 42%;
        grid-template-rows: 20% 80%;
    }

    .products {
        row-gap: 24px;
    }

    p.text-for-block {
        line-height: 30px;
        text-align: center;
    }

    .map-navigation {
        text-align: center;
    }

    .map-navigation div {
        width: 90%;
    }

    /* -- Footer --*/

    footer {
        grid-template-columns: 30% 50%;
    }
}

@media screen and (max-width: 400px) {

    /* -- Header, General section settings --*/

    header {
        grid-template-columns: 50% 17% 15%;
    }

    p.name {
        line-height: 25px;
        text-align: left;
        padding-left: 5px;
        font-size: 18px;
    }
    
    .open-burger-menu {
        text-align: center;
    }

    .open-burger-menu img,
    .switch-language img {
        width: 80%;
    }

    .switch-language {
        justify-self: center;
        margin-right: 0;
    }

    .titles-frame {
        width: 90vw;
    }

    .titles-frame-large {
        width: 90vw;
    }

    .titles-frame-large::before,
    .titles-frame-large::after,
    .titles-frame::before,
    .titles-frame::after {
        width: 30px;
    }

    /* -- Slider -- */

    .slider-left-block {
        grid-template-rows: 31% 34% 20% 15%;
    }

    h1 {
        font-size: 26px;
        line-height: 30px;
        width: 85%;
    }

    .slider-controls {
        margin-top: 0;
    }

    /* -- Section About us --*/

    section.about-us {
        width: 85%;
        height: 1225px;
        /*grid-template-rows: 140px 1032px;*/
        grid-template-rows: 140px 1fr;
    }

    .cards {
        grid-template-rows: 22% 24% 24% 24%;
    }

    .icon-plan img, 
    .icon-map img, 
    .icon-excursions img, 
    .icon-infrastructure img {
        width: 80%;
    }

    .plan h3, 
    .map-card h3, 
    .excursions h3, 
    .infrastructure h3 {
        font-size: 20px;
        margin: 15px auto 5px;
        line-height: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .plan {
        grid-template-areas:
            "name-plan"
            "icon-plan";
        grid-template-columns: 100%;
        grid-template-rows: 25% 75%;
        column-gap: 0;
        row-gap: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-items: center;
    }

    .map-card {
        display: grid;
        grid-template-areas:
            "name-map"
            "icon-map";
        grid-template-columns: 100%;
        grid-template-rows: 26% 73%;
        column-gap: 0;
        width: 100%;
        align-items: center;
        justify-items: center;
    }

    .excursions {
        grid-template-areas:
            "name-excursions"
            "icon-excursions";
        grid-template-columns: 100%;
        grid-template-rows: 25% 75%;
        column-gap: 0;
        width: 100%;
        align-items: center;
        justify-items: center;
    }

    .infrastructure {
        grid-template-areas:
            "name-infrastructure"
            "icon-infrastructure";
        grid-template-columns: 100%;
        grid-template-rows: 32% 69%;
        column-gap: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-items: center;
    }

    .plan-advantage-list,
    .map-advantage-list,
    .excursions-advantage-list,
    .infrastructure-advantage-list {
        display: none;
    }

    h2 {
        font-size: 24px;
        line-height: 30px;
    }

    /* -- Section Where to travel --*/

    section.where-to-travel {
        height: 552px;
        grid-template-rows: 90px 420px;
    }

    .questions {
        grid-template-columns: 100%;
        grid-template-rows: 52% 48%;
        grid-template-areas: "collage"
                            "text-button";
    }

    .collage img {
        width: 70%;
    }

    p.text-for-block {
        font-size: 20px;
        line-height: 25px;
    }
    
    p.text-for-questions {
        margin-top: 15px;
        margin-bottom: 16px;
    }

    .text-button {
        align-self: center;
    }

    /* -- Section Cities --*/

    section.cities {
        height: 948px;
        grid-template-rows: 90px 815px;
    }
    
    .novogrudok-city {
        grid-template-areas:
            "city-info"
            "city-map"
            "city-photos";
        grid-template-columns: 100%;
        grid-template-rows: 25% 50% 25%;
        row-gap: 0;
    }

    .city-map img, 
    .city-photos img {
        width: 90%;
    }

    .drop-decor-left,
    .drop-where-to-travel,
     .drop-start {
        width: 100%;
    }

    /* -- Section Let's start --*/

    section.lets-start {
        height: 707px;
        grid-template-columns: 100%;
        grid-template-rows: 90px 602px;
        margin: 0 auto 50px;
    }

    .title-lets-start h2 {
        margin-left: 10px;
        margin-right: 10px;
    }

    p.app-name {
        display: inline-block;
        margin-bottom: 10px;
        
    }

    .map-navigation {
        display: block;        
        text-align: center;
    }

    .map-buttons {
        grid-template-areas:
            "list-to-download-block"
            "products-block"
            "buttons-block";
        grid-template-columns: 100%;
        grid-template-rows: 9% 52% 35%;
        row-gap: 10px;
    }

    p.list-to-download {
        grid-area: list-to-download-block;
        margin: 0 auto 0;
    }
    
    .products {
        grid-area: products-block;
        grid-template-areas: "novogrudok-app"
                             "map-navigation";
        grid-template-columns: 100%;
        grid-template-rows: 19% 80%;
        row-gap: 10px;
        column-gap: 0;
    }

    .buttons {
        grid-area: buttons-block;
        display: grid;
        grid-template-areas: "ask"
                             "try"
                             "buy";
        grid-template-columns: 100%;
        grid-template-rows: 30% 30% 30%;
        row-gap: 10px;
        align-items: center;
    }

    /* -- Footer --*/

    footer {
        width: 100%;
        height: 90px;
        grid-template-areas: "rights"
                             "social-media";
        grid-template-columns: 90%;
        grid-template-rows: 20% 60%;
        row-gap: 10px;
        align-content: center;
        justify-content: center;
    }

    p.rights {
        justify-self: center;
        font-size: 14px;
    }

    .social-media {
        column-gap: 20px;
        align-items: center;
        justify-self: center;
    }

}
