/* ------------------------ Quiz (Test) Block ----------------------- */

/* ----------- General ----------- */

.test-block {
    display: none;
    border: 1px solid #BEBEBE;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    background-color: #FFFFFF;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 5%;
}

/* ------Close Quiz Button ------- */

#close-quiz-btn {
    position: absolute;
    top: 5%;
    right: 3%;
}

#close-quiz-btn:hover {
    cursor: pointer;
}

/* ------------ Form --------------*/

.test-block form {
    margin: 35px 68px 35px;
}

p.task.general-text {
    text-align: center;
    font-weight: bold;
}

.answer input {
    margin-right: 15px;
}

.test-block label {
    font-family: 'PlayRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.checked-block-style label {
    color: var(--text_highlight_color);
}

/* ------------ Form buttons  ------------*/

.quiz-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-bottom: 35px;
    float: right;
}

.text-button .button-for-questions {
    display: block;
    margin: 0 auto;
}

#submit,
#reset {
    display: block;
    cursor: not-allowed;
}

#submit.active-btn:hover,
#reset.active-btn:hover {
    cursor: pointer;
}

#reset {
    color: #7b7b7b;
}

#reset:hover {
    color: #FFFFFF;
    background: linear-gradient(180deg, #b84331ba 0%, rgba(56, 6, 6, 0.85) 100%);
}

.warning-point {
    font-family: 'PlayRegular';
    color: var(--text_error_color);
    font-size: 20px;
    width: 300px;
}

.warning-point.hide-message {
    visibility: hidden;
}

/* -------------- Show test result -------------- */

.result-box {
    display: none;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.image-test {
    width: 53%;
    margin-bottom: 30px;
}

.city-name-test {
    text-align: center;
    color: var(--h1_color);
    font-family: 'PlayRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 5px;
}

.title-test {
    text-align: center;
    color: var(--dark_general_text_color);
    font-family: 'PlayRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin-top: 30px;
}

.close-results {
    position: absolute;
    top: 1%;
    right: 1%;
}

.close-results:hover {
    cursor: pointer;
}

.pass-message {
    color: var(--text_highlight_color);
    text-align: center;
    font-family: 'PlayRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin: 20px 20px 30px;
}

.resetBtnBlock {
    text-align: center;
}

.resetBtnBlock:hover {
    cursor: pointer;
}

/* ------------------------------ Media queries ------------------------------ */

@media screen and (max-width: 1250px) {

    .test-block {
        width: 100%;
        top: 20%;
        left: 0;
    }

}

@media screen and (max-width: 1140px) {

    .quiz-buttons {
        width: 80%;
    }

}

@media screen and (max-width: 1000px) {

    .test-block form {
        margin: 35px 50px 35px;
    }

    .button {
        width: 140px;
    }

    .text-button button {
        width: 170px;
    }

}

@media screen and (max-width: 880px) {

    .quiz-buttons {
        width: 90%;
    }

    p.text-for-questions {
        margin-top: 50px;
        margin-bottom: 30px;
        margin-right: 35px;
        margin-left: 35px;
    }

    .map-buttons {
        column-gap: 20px;
    }

}

@media screen and (max-width: 800px) {

    .test-block label {
        font-size: 16px;
        line-height: 20px;
    }

    .image-test {
        width: 70%;
    }

    p.text-for-questions {
        margin-top: 40px;
        margin-bottom: 25px;
    }

}

@media screen and (max-width: 780px) {

    .pass-message {
        margin: 20px 20px 20px;
    }

}

@media screen and (max-width: 780px) {

    .questions {
        grid-template-columns: 40% 60%;
    }

}


@media screen and (max-width: 600px) {

    .test-block form {
        margin: 35px 40px 35px;
    }

    .test-block label {
        font-size: 16px;
        line-height: 20px;
    }

    p.text-for-questions {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .quiz-buttons {
        width: 100%;
        align-content: center;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .results-block {
        bottom: 5%;
    }

    .questions {
        grid-template-columns: 100%;
    }

    section.where-to-travel {
        height: 700px;
        grid-template-rows: 90px 600px;
    }

}

@media screen and (max-width: 550px) {

    .questions {
        grid-template-rows: 50% 48%;
    }

}

@media screen and (max-width: 420px) {

    p.text-for-questions {
        margin-right: 45px;
        margin-left: 35px;
    }

}

@media screen and (max-width: 400px) {

    .test-block label {
        font-size: 16px;
        line-height: 20px;
    }

    .test-block {
        top: 27%;
    }

    .results-block {
        bottom: 2%;
    }

    .pass-message {
        font-size: 16px;
        line-height: 20px;
    }

    .test-block form {
        margin: 35px 30px 35px;
    }

    #close-quiz-btn {
        top: 1%;
    }

}

@media screen and (max-width: 350px) {

    .questions {
        grid-template-rows: 45% 48%;
    }

    .quiz-buttons {
        flex-direction: column;
        justify-items: center;
    }

    .quiz-buttons button {
        align-self: center;
    }

    .warning-point {
        text-align: center;
    }

}