/* ------------------------ Quiz (Test) Block ----------------------- */

/* ----------- General ----------- */

.test-block {
    display: none;
    border: 1px solid #BEBEBE;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    background-color: #FFFFFF;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 5%;
}

/* ------Close Quiz Button ------- */

#close-quiz-btn {
    position: absolute;
    top: 5%;
    right: 3%;
}

#close-quiz-btn:hover {
    cursor: pointer;
}

/* ------------ Form --------------*/

.test-block form {
    margin: 35px 68px 35px;
}

p.task.general-text {
    text-align: center;
    font-weight: bold;
}

.answer input {
    margin-right: 15px;
}

.test-block label {
    font-family: 'PlayRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;    
}

.checked-block-style label {
    color: var(--text_highlight_color);
}

/* ------------ Form buttons  ------------*/

.quiz-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-bottom: 35px;
    float: right;
}

.text-button .button-for-questions  {
    display: block;
    margin: 0 auto;
}

#submit,
#reset {
    display: block;
    cursor: not-allowed;
}

#submit.active-btn:hover,
#reset.active-btn:hover {
    cursor: pointer;
}

#reset {
    color: #7b7b7b;
}

#reset:hover {
    color: #FFFFFF;
    background: linear-gradient(180deg, #b84331ba 0%, rgba(56, 6, 6, 0.85) 100%);
}

.warning-point {
    font-family: 'PlayRegular';
    color: var(--text_error_color);
    font-size: 20px;
    /*position: absolute;*/
    /* bottom: 8%; */
    /*right: 14%;*/
    width: 300px;
}

.warning-point.hide-message {
    /*display: none;*/
    visibility: hidden;
}

/* -------------- Show test result -------------- */

.result-box {
    display: none;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    text-align: center;    
    position: relative;
}

.image-test {
    width: 55%;
    margin-bottom: 30px;
}

.city-name-test {
    text-align: center;
    color: var(--h1_color);
    font-family: 'PlayRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.title-test {
    text-align: center;
    color: var(--dark_general_text_color);
    font-family: 'PlayRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin-top: 30px;
}

.close-results {
    position: absolute;
    top: 1%;
    right: 1%;
}

.close-results:hover {
    cursor: pointer;
}

.pass-message {
    color: var(--text_highlight_color);
    text-align: center;
    font-family: 'PlayRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin: 20px 20px 30px;
}

.resetBtnBlock {
    text-align: center;
}

.resetBtnBlock:hover {
    cursor: pointer;
}

/* ------------------------------ Media queries ------------------------------ */

@media screen and (max-width: 690px) {
    
    .test-block label {
        font-size: 16px;
        line-height: 20px;
    }

    .image-test {
        width: 70%;
    }

}

@media screen and (max-width: 500px) {

    .test-block label {
        font-size: 16px;
        line-height: 20px;
    }

    .results-block {
        bottom: 5%;
    }

}

@media screen and (max-width: 400px) {

    .test-block label {
        font-size: 16px;
        line-height: 20px;
    }

    .test-block {
        top: 27%;
    }

    .results-block {
        bottom: 2%;
    }

    .pass-message {
        font-size: 16px;
        line-height: 20px;
    }
}